name: Deploy MEAN App

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Docker login
      run: echo "${{ secrets.DOCKER_PASS }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin

    - name: Build backend
      run: docker build -t ${{ secrets.DOCKER_USER }}/backend:latest ./backend

    - name: Push backend
      run: docker push ${{ secrets.DOCKER_USER }}/backend:latest

    - name: Build frontend
      run: docker build -t ${{ secrets.DOCKER_USER }}/frontend:latest ./frontend

    - name: Push frontend
      run: docker push ${{ secrets.DOCKER_USER }}/frontend:latest
